RPC_URL = "http://127.0.0.1:7777"
RPC_USER = "user"
RPC_PASSWORD = "Empress_3"

OUTPUT_DIR = "/mnt/d/Adrianov/Dataset/Elliptic++Txs"
TXS_LIST = "Deanonymized.csv"

SOURCE = "BLOCKCHAINDOTCOM"
NUM_WORKER = '10'

MAX_CHUNKS = '10'
MAX_TRIES = '100'
MAX_EPOCH = '1000'